.commentTableContainer {
  width: 100%;
  height: fit-content;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  border-bottom: 2px solid rgb(71, 71, 71);
}

.commentTable {
  background-color: black;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.commentTitleContainer {
  margin-right: 100px;
}

.commentTextContainer {
  min-width: 200px;
}

.commentContainer {
  height: fit-content;
  display: flex;
  margin: 3%;
  align-items: center;
}

.commentTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
