.main {
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contactForm {
  background-color: black;
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  box-sizing: border-box;
}

.contactInfo {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formRow {
  display: flex;
  flex-direction: column;
}

.inputField {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
}

.inputField::placeholder {
  color: white;
}

.inputField:focus {
  outline: none; /* Убирает обводку при фокусе */
}

.textArea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid white;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  resize: none; /* Отключаем возможность изменения размера вручную */
  overflow-y: auto;
  max-height: 100px; /* Максимальная высота */
}

.textArea::placeholder {
  color: white;
}

.submitButton {
  background-color: #67030d;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  align-self: flex-end;
}

.submitButton:hover {
  background-color: #99040d;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  display: flex;
}

.modalContent {
  background-color: black;
  margin: 5% auto;
  padding: 20px;
  width: 80%;
  max-width: 1800px;
  max-height: 70vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: white;
  overflow-y: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modalContent h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modalContent p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
