.tableBeatsContainer {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.tableBeats {
  width: 70%;
  transition: 0.6s ease;
}

.td,
th {
  font-size: 14px;
  color: #aaa;
}

tfoot {
  border-radius: 5px;
  text-align: center;
}

td {
  color: aliceblue;
}

.addBeatHeader {
  margin-top: 20px;
}

.priceInput {
  width: 100px;
}

.buttonAdd {
  width: 60px;
  height: 60px;
  font-size: 38px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  border-radius: 10px;
}

.buttonAdd:hover {
  color: #67030d;
  background-color: rgb(224, 228, 3);
}

.timeInput {
  width: 60px;
  border-radius: 7px;
}

.titleInput {
  border-radius: 7px;
}

.linkInput {
  height: 50px;
  width: 60px;
  border-radius: 7px;
}

.beatImg {
  width: 45px;
  height: 45px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 7px;
}

.beatTableCol {
  width: 50px;
  text-align: left;
}

.titleTableCol {
  text-align: left;
  padding-left: 1vw;
  width: 30%;
}

.addBeatButtonContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  border: 1px solid wheat;
}

.tagsTableCol {
  text-align: center;
  justify-content: center;
  inset-inline: initial;
}

.beatRow {
  border: 1px solid rgb(56, 56, 56);
}

.tag {
  width: fit-content;
  background-color: #67030d;
  border: none;
  height: 40px;
  border-radius: 30px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.tag:hover > span {
  color: #67030d;
}

.tagText {
  height: 100%;
  width: 100%;
  margin-top: 5px;
  color: aliceblue;
  display: flex;
  justify-self: center;
  align-items: center;
}

.linkTableCol {
  width: 50px;
  margin-left: 20px;
}

.priceTableCol {
  width: 100px;
}

.inputLinkTableCol {
  width: 40px;
  border: 1px solid gray;
}

.priceImg {
  max-width: 65px;
  max-height: 65px;
  min-width: 25px;
  display: flex;
  justify-content: center;
}

.share {
  width: 50px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 28%;
  background-color: #67030d;
}

.shareImg {
  margin-left: 2px;
  margin-bottom: 1px;
  min-height: 20px;
  min-width: 20px;
  max-height: 20px;
  max-width: 20px;
}

.priceButton {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titleText {
  font-weight: bold;
  display: flex;
  justify-content: left;
  cursor: pointer;
}

.priceText {
  color: #67030d;
  display: flex;
  justify-content: center;
  margin-left: 5px;
}

.beatTableCol,
.timeTableCol,
.bpmTableCol,
.tagsTableCol,
.linkTableCol,
.priceTableCol {
  text-align: center;
  width: 65px;
}

.tagsTableCol {
  min-width: 200px;
}

.deleteBeatButton {
  background-color: black;
}

@media (max-width: 1200px) {
  .tableBeats {
    width: 95%;
  }

  .tag {
    margin-top: 5px;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.soundTableCol {
  max-width: 40px;
}

.modalOverlay.active {
  opacity: 1;
  visibility: visible;
}

.deleteBeatButtonContainer {
  width: 40px;
  align-items: center;
  justify-items: center;
}

.modal {
  background-color: black;
  border-radius: 10px;
  width: 100%;
  max-width: 1200px;
  color: white;
  transform: translateY(-20px);
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  opacity: 0;
}

.modal.active {
  transform: translateY(0);
  opacity: 1;
}

.close {
  display: flex;
  justify-content: center;
  top: 20px;
  right: 50%;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modalContent {
  overflow-y: auto;
  padding-right: 20px;
}

.modalContent h2 {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.modalContent p {
  font-size: 18px;
  line-height: 1.6;
}

.modalContent ul {
  list-style-type: disc;
  margin-left: 20px;
}

.cartModalContent {
  display: flex;
  align-items: flex-start;
}

.cartModalLeft {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartModalImage {
  max-width: 300px;
  /* margin-right: 150px;
  width: 100%; */
  display: flex;
  justify-content: center;
  margin-left: 30px;
  align-items: center;
}

.cartModalTitle {
  margin-left: 50px;
  margin-top: 10px;
}

.cartModalRight {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 50px;
}

.licenseRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.licenseCard {
  width: 100%;
  padding: 10px;
  background-color: #202020;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartModalText {
  flex-shrink: 0;
}

.modalPriceButton {
  display: flex;
  width: 130px;
  align-items: center;
  /* background-color: transparent; */
  border: none;
  cursor: pointer;
  padding: 20px;
}

.modalPriceImg {
  /* margin-right: 5px; */
  max-width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalPriceText {
  color: #67030d;
}
