a {
  color: white; /* Цвет по умолчанию */
  text-decoration: none; /* Убирает подчеркивание */
}

.header {
  background-color: black;
  width: 100%;
  height: 5.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerCase {
  margin-left: 10px;
  margin-right: 10px;
  color: aliceblue;
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.headerCase:hover {
  border-bottom: 2px solid white;
}

.lypa {
  width: 30px;
  height: 30px;
}

.headerMenu {
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.menuCase {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  cursor: pointer;
}

.searchContainer {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  background-color: black;
}

.searchContainer.visible {
  opacity: 1;
  visibility: visible;
}

.searchInput {
  border: none;
  padding: 5px;
  font-size: 14px;
  background-color: black;
  color: white;
  outline: none;
}

.searchSubmit {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.searchSubmit:hover {
  text-decoration: underline;
}
