.footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  height: 40vh;
  font-size: 15px;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.footerColumn h3 {
  margin-bottom: 5px;
  margin-top: 13px;
  font-size: 14px;
}

.footerColumn p,
.footerColumn a {
  margin: 10px 0; /* Increase the margin here to add more space between links */
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.socialIcons span {
  background: blue;
  color: black;
  border-radius: 50%;
  padding: 5px; /* Adjust as needed */
  font-size: 12px; /* Adjust as needed */
}

.youtube,
.instagram,
.facebook {
  width: 30px; /* Adjust as needed */
  height: 30px;
  margin-top: 10px;
  border-radius: 50%; /* If you want round icons */
  border: 1px black solid;
  filter: invert(100%);
  cursor: pointer;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns the logo and text to the left */
  width: 100%;
}

.logo {
  max-width: 120px;
  max-height: 50px;
  margin-left: 5px; /* Moves the logo to the right */
  cursor: pointer;
}

.hoverUnderline {
  text-decoration: none; /* Removes default underline */
  transition: text-decoration 0.3s; /* Smooth transition */
  cursor: pointer;
}

.hoverUnderline:hover {
  text-decoration: underline; /* Adds underline on hover */
}

.scrolltotop {
  transition: 0.6s ease;
}
