.addBeatContainer {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  height: fit-content;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.uploadIMG,
.uploadSND {
  cursor: pointer;
  margin-bottom: 20px;
}

.uploadText {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.uploadIMGContainer,
.uploadSNDContainer {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  margin-bottom: 20px;
}

.inputFields {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formRow {
  display: flex;
  flex-direction: column;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputField {
  max-width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  /* display: flex;
  justify-content: center; */
}

.inputGenre {
  width: 102%;
  margin-bottom: 20px;
  font-size: 16px;
}

.ant-select {
  width: 100% !important;
  padding: 0 !important;
}

.ant-select-selector {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid white !important;
  color: white !important;
  padding: 15px 0 !important;
}

.ant-select-dropdown {
  background-color: black !important;
}

.ant-select-item {
  color: white !important;
}
