.userProfileLogo {
  border-radius: 50%;
}

.userProfileContainer {
  background-color: black;
}

.userProfileName,
.likedBeatsText {
  color: aliceblue;
  font-weight: bold;
  font-size: 24px;
  margin-top: 50px;
}

.likedBeatsText {
  margin-bottom: 50px;
}

.userProfileHeader {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}