@font-face {
    font-family: 'Chelsea Market';
    src: url('C:/Users/TAMOTO/Desktop/courseJob/files/ChelseaMarket-Regular.ttf') format('truetype');
}
body, html {
    height: 100%;
    margin: 0;
}
header{
    background-color: #DDCCC2;
    margin: 0;
    padding: 20px;
}
h1{
    margin: 0;
}
.main *{
    font-family: 'Chelsea Market';
}
.main{
    height: 800px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("C:/Users/TAMOTO/Desktop/courseJob/files/main_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.main div{
    
    font-size: 150%;
    width: 400px;
}